root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,css,html}]
charset = utf-8


[*.{js,css,html}]
indent_style = tab
indent_size = 2

[lib/**.js]
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
