body#busca-vazia-page{
    main{
        margin-top: 115px;
    }
    .container{
        .product{
            &__name{
                padding: 0 !important;
                margin: 0 !important;
                border: unset !important;
            }
        }
    }
}